/* Universal selector */
* {
    box-sizing: border-box;
}

/* Allows for the use of var() later on down the page--> allows for colors to be pre-written out */
:root {
    --primary: #0a0808c5;
    --secondary: #a10770;
    --tertiary: rgb(154, 70, 118);
    --white: rgb(255, 255, 255);
    font-size: 62.5%;
}

/* This selects for everything within the <body> */
body {
    background: #ededed;
    color: var(--secondary);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
/* This selects for everything within the <header> */
header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}

/* When the mouse hovers over the "View High Scores" button--> selects for these attributes */
#view-high-scores:hover {
    cursor: pointer;
    color: var(--tertiary);
}

/* Specifically selects for the <h4> that is within the <header> */
header h4 {
    padding-left: 20px;
    font-size: 2.0rem;
    display: inline;
}

/* Specifically selects here for the timer */
.timer {
    font-size: 2.0rem;
    color: var(--secondary);
    display: inline;
    text-align: right;
    padding-right: 20px;
}

/* Flex-direction: defines how those within the container will be displayed */
.container {
    padding: 20px;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

/* Selects for the <h1> */
h1 {
    color: var(--primary);
    font-size: 3.0rem;
    font-weight: bold;
}

/* Selects for the <p> */
p {
    color: var(--primary);
    font-size: 2.0rem;
}

/* This is for the start button characteristics */
.start {
    align-items: center;
    text-align: center;
}
  
.start h1, .start p {
     text-align: center;
}

/* This is specifically defining for the questions. */
/* Flex-start: items will be packed towards the start of the flex-direction */
.questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
}

.end h1, .end p {
      text-align: left
}

.end input {
    outline: thick; 
    border-width: 1px;
    padding: 5px;
    width: 35%;
    font-size: 2.2rem;
    border-radius: 5px;
}

.end input:focus {
    border: 2px solid var(--secondary);
}

.show {
      display: flex;
}

.hide {
      display: none;
}

#question {
    color: var(--primary);
    text-align: left;
    font-size: 2.0rem;
    font-weight: bold;
}

#high-score {
      text-align: left;
}

/* This specifies for the button */
.btn {
    background: var(--secondary);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px rgb(240, 230, 230);
    margin-top: 10px;
}

/* For when the mouse hovers over the button */
.btn:hover {
    background: var(--tertiary);
    border-radius: 10px;
    box-shadow: 0 2px rgb(240, 230, 230);
    cursor: pointer;
}

/* When the mouse is actively clicking over the button */
.btn:active {
    border: none;
    outline: none;
    box-shadow: 0 0  rgb(240, 230, 230);
}

.btn:focus {
    outline: none;
}

/* This is for the layout of the answer choice buttons */
.btn-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    margin: 20px 0;
}

.startend {
    width: 25%;
    margin-top: 10px;
}

.answerbtn {
    width: 50%;
    text-align: left;
    font-size: 1.0vw;
}

/* Specifically for how the high scores page will look like */
.banner {
    font-size: 15px;
    text-align: center;
    color: rgba(113, 109, 109, 0.8);
    margin: 0 100px;
}

.banner h2 {
    border-top: 2px solid rgba(113, 109, 109, 0.8);
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}

/* When the list is created on the high scores page */
ol {
    list-style-type: number;
}

/* The odd numbers in the list will be highlighted with the below background color */
li:nth-child(odd) {
    background-color: rgba(228, 151, 164, 0.5);;
}

/* Selects for the text-size of what appears on the high-scores list */
li {
    font-size: 1.5vw;
}

/* Media queries */
@media screen and (max-width: 1024px) {
    .btn {
        width: 100%;
        font-size: 3.0vw;
    }

    #question {
        font-size: 4.5vw;
    }

    h1 {
        font-size: 4.5vw;
    }

    p {
        font-size: 3.0vw;
    }
}